<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
<!--接收模块传递的变量-->
<h1>
    {% if userInfo.name %}
    <span>{{userInfo.name}}</span>
    <span>张利兵</span>
    欢迎来到我的博客!!!!
    <!--{% else %}-->
    {% endif %}

   </h1>
</body>
</html>